<h1>Edit</h1>
<div class="row justify-content-md-center">
  <div class="col col-md-6 col-lg-6">
    <div class="container-form-ext">
      <div class="row justify-content-md-center">
        <div class="col col-md-8 col-lg-10">
          <div class="container-form-int">
            <%= render "form", pet: @pet %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
