<h1><%= @user.first_name %>'s Profile Page</h1>


<%= link_to "Update your profile", edit_user_path(@user), class: "btn btn-cancel" %>
<%= link_to "Delete your profile", user_path(@user), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete your account?" } %>
