<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div>
        <%= cl_image_tag @user.photo.key,
        width: 150, height: 150, crop: :thumb, gravity: :face, zoom: 0.7, radius: :max %>
        <h1><%= @user.first_name %>'s Profile Page</h1>
        <%= link_to "Update your profile", edit_user_path(@user), class: "btn btn-outline-warning" %>
        <%= link_to "Delete your profile", user_path(@user), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure you want to delete your account?" } %>
      </div>
    </div>
  </div>
</div>
