<div class="banner">
  <div class="row justify-content-md-left m-0">
    <div class="col col-sm-10 col-md-6 col-lg-6 m-0">
      <div class = "container-home-page">
        <h1>Petmate brings you closer to your new <strong> best friend</strong>!</h1>
        <p>Make the world happier one pet at a time</p>
        <%= form_tag pets_path, method: :get do %>
          <div class="search-form-control form-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Species of your new friend"
            %>
            <%= submit_tag "Search", class: "btn btn-flat-orange" %>
          </div>
        <% end %>
        <div class="mt-2">
        <%= link_to "Or click here to see all the available pets!", pets_path, class: "btn btn-flat-orange" %>
        </div>
      </div>
    </div>
  </div>
</div>
