<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1581171383994-afd540b6a4da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1072&q=80);">
  <div class="row justify-content-md-left">
    <div class="col col-sm-6 col-md-6 col-lg-5">
      <div class = "container">
        <h1>Petmate brings you closer to your new <strong> best friend</strong>!</h1>
        <p>Make the world happier one pet at a time</p>
        <%= form_tag pets_path, method: :get do %>
          <div class="search-form-control form-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Whats the species of your new friend"
            %>
            <%= submit_tag "Search", class: "btn btn-flat-orange" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
