<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div>
        <h1>Welcome to PetMate</h1>
        <p>Login to find your new pet friend!</p>
      </div>
    </div>
  </div>
</div>
