.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  color: white;
  background-color: rgb(243, 115, 76);
  border-radius: 15px;
  border: 2px solid rgba(211, 88, 51, 0.863);
}
