
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-flat-orange {
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  background: #f3724c;
  transition: background 0.3s ease;
  text-decoration: none;
}



.btn-flat-orange:hover {
  background: #f3724c;
  color: white;
  opacity: 1;
}

.btn-flat-red {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: #f71414;
  transition: background 0.3s ease;
  text-decoration: none;
  opacity: .8;
}

.btn-flat-red:hover {
  background: #f71414;
  color: white;
  opacity: 1;
}

.btn-flat-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: #00CFD1;
  transition: background 0.3s ease;
  text-decoration: none;
  opacity: .8;
}



.btn-flat-blue:hover {
  background: #00CFD1;
  color: white;
  opacity: 1;
}

.btn-pink {
  margin-top: 20px;
  color: #f3f3f3;
  padding: 8px 24px;
  border-radius: 4px;
  background: #DEA957;
  transition: background 0.3s ease;
  text-decoration: none;
  text-align: center;
  width: 100%;
  opacity: .8;
}

.btn-pink:hover {
  background: #DEA957;
  color: white;
  opacity: 1;
}
